{% extends "encyclopedia/layout.html" %}

{% block title %}
    Create New Page
{% endblock %}

{% block body %}
    {% if error %}
        <h1>{{ error }}</h1>
    {% else %}
        <h1>Create a new page</h1>
    {% endif %}
    <div>
        <form action="{% url 'create' %}" method="POST">
            {% csrf_token %}
            <label for="title">Title:</label><br>
            <input type="text" name="title" placeholder="Title"><br><br>
            <label for="pgContent">Page Content:</label><br>
            <textarea id="pgContent" name="pgContent" placeholder="Enter Page Markdown Content Here"></textarea><br>
            <input type="submit" value="Save!">
        </form>
    </div>
{% endblock %}